* {
    margin: 0px; 
    /* outline: 1px solid red; */
    box-sizing: border-box;
    padding: 0px;
}
main {
    margin: auto 5%;
    text-align: left;
    margin-top: 30px;
    border-top: 4px solid #6D9886;
    color: white;
}

a {
    color: #000000;
}
a:hover {
    color: #00dada
    
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: bold;
    padding: 0 2%
}
h4 {
    margin: auto;
    width: 100%;
    text-align: left;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 2%
}
img {
    max-width: 100%;
}
video {
    width: 100%;
}

picture
{
    width: 100%;
}
figcaption {
    margin: 5px;
    font-size: 0.9rem;
    color: black;
}
.titulo {
    
    text-align: left;
    font-size: 50pt;
    font-family: 'Lobster', cursive;
    margin: 3% 5%;
}
#cabecera {
    margin: auto;
    display: block;
    text-align: center;
    background: #393E46;
    margin: auto;
}
#cabecera ul {
    list-style-type: none;
    display: inline-block;
    align-items: center;
    
}
#cabecera a {
    text-align: center;
    font-weight: bold;
    font-size: 25pt;
    display: block;
    /* outline: 1px solid red; */
    
}    
#cabecera a:visited {
    color: #ffffff;
}
#cabecera li {
    display: inline-block;
    /* outline: 1px solid green; */
    margin: 7px 10px;
}


/* ====Inicio===== */
#enlaces-principales {
    font-size: 25pt;
    text-align: left;
    list-style-type: square;
    background-color: #6D9886;
    padding: 20px 100px;
}

#bienvenida {
    text-align: center;
    margin: 20px;
    font-size:30pt ;
    background-color: white;
    color: black;
}

#aqui-en {
    font-size: 20pt;
    
    padding-top: 20px;
    padding-left: 10px;
    background-color: #6D9886;
}
/* ========= end inicio */





/* ====BIOGRAFIA===== */
.flexcontainer {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    /* outline: 1px solid blue; */
    align-items: center;
}

.monstertext {
    color: black;
    font-size: 1.5rem;
    text-align: left;
    padding: 0 2%;
    line-height: 1.5rem;
    /* outline: 2px solid red; */
}

.monstruodespagueti>* {
    margin: 10px 0;
}

.imgtexto {
    /* outline: 2px solid red; */
    margin: auto;
}

/* ========= end biografia */




/* ====CONTACTO===== */
#formulario textarea{
    display: block;
}
#nomemail input {
    margin: 0 20px 20px 20px;
    
}
#mensajelabel {
    margin-bottom: 20px;
    
}

#maincontacto {
    margin-top: 30px;
    
}
.conjuntonav {
    display: block;
    width: 100%;
}

.sublist {
    margin-left: 15px;
    list-style-type: circle;
    font-size: 15pt;
}
.entrada {
    color: black;
    padding: 20px;
}
.formulario {
    color: white;
    text-align: center;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px;
    background-color: #6D9886;
    font-size: 20pt;
    justify-content: center;
    align-items: center;
}

/* ========= end contacto */





/* =====================768============================================


*/
@media screen and (min-width: 768px) {
    .figurelateral {
        max-width: 50%;
    }

    #cabecera {
        position: sticky;
        top: 0;
        
    }
    #cabecera a {
        font-size: 30px;
        
    }
    .conjuntonav    {
        width: auto;
        display: inline-block;
    }

    /* BIOGRAFIA */
    .flexcontainer {
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
    }
    
    .monstertext {
        max-width: 100%;
        font-size: 1.2rem;
    }
    #entradamonstruo {
        max-width: 50%;
        font-size: 1.2rem;
    }
    
    
}
/* =====================768============================================


*/
@media screen and (min-width: 900px) {
    main {
        max-width: 1920px;
        margin: auto;
        width: 80%;
    }
    .titulo{
        width: 80%;
        display: block;
        margin: 2% auto;
        max-width: 1920px;
    }
}