@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair&display=swap');
* {
    margin: 0px; 
    /* outline: 1px solid red; */
    box-sizing: border-box;
    padding: 0px;
}
main {
    margin: auto 5%;
    text-align: left;
    margin-top: 30px;
    border-top: 4px solid #6D9886;
    color: white;

    animation: wipe-in-left;
    animation-duration: 2s;
    animation-fill-mode: both;
}

a {
    color: #000000;
}
a:hover {
    color: #00dada
    
}
h2 {
    font-size: 2.5rem;
    color: black;
}
h3 {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: bold;
    padding: 0 2%
}
h4 {
    margin: auto;
    width: 100%;
    text-align: left;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 2%
}
img {
    max-width: 100%;
}


picture
{
    width: 100%;
}
figcaption {
    margin: 5px;
    font-size: 0.9rem;
    color: black;
}


.flexcontainer {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    /* outline: 1px solid blue; */
    align-items: center;
    
}
.titulo {
    
    text-align: left;
    font-size: 50pt;
    font-family: 'Lobster', cursive;
    margin: 3% 5%;
}
.centered{
    text-align: center;
    display: block;
}
.flexleft {
    align-items: flex-start;
}
#cabecera {
    margin: auto;
    display: block;
    text-align: center;
    background: #393E46;
    margin: auto;
}
#cabecera ul {
    list-style-type: none;
    display: inline-block;
    align-items: center;
    
}
#cabecera a {
    text-align: center;
    font-weight: bold;
    font-size: 25pt;
    display: block;
    /* outline: 1px solid red; */
    
}    
#cabecera a:visited {
    color: #ffffff;
}
#cabecera li {
    display: inline-block;
    /* outline: 1px solid green; */
    margin: 7px 10px;
}


/* ====Inicio===== */
#enlaces-principales {
    font-size: 25pt;
    text-align: left;
    list-style-type: square;
    background-color: #6D9886;
    padding: 20px 100px;
}

#bienvenida {
    text-align: center;
    margin: 20px;
    font-size:30pt ;
    background-color: white;
    color: black;
}

#aqui-en {
    font-size: 20pt;
    
    padding-top: 20px;
    padding-left: 10px;
    background-color: #6D9886;
}
/* ========= end inicio */


/* ====PORFOLIO===== */
#trabajos {
    margin: 5% auto;
    gap: 10px;
}

#trabajos article { 
    font-size: 1.1rem;
    font-family: 'Playfair', serif;
    gap: 10px;
    width: 100%;
    min-height: 200px;
    background-color: #6D9886 ;
    padding: 1%;
}
#trabajos h3 {
    font-size: 1.5rem;
    
}
.artportfolio ul{
    
    padding-left: 10%; 
    list-style: square;
}
#convencion picture{
 width: 100%;
}
.artportfolio video, audio, img{
 max-height: 100%;
 max-width: 100%;
 padding: 10px;
}



/* ========= end portfolio */

/* ====BIOGRAFIA===== */

.monstertext {
    color: black;
    font-size: 1.5rem;
    font-family: 'Playfair', serif;
    text-align: left;
    padding: 0 2%;
    line-height: 1.5rem;
    /* outline: 2px solid red; */
}

.monstruodespagueti>* {
    margin: 10px 0;
}

.imgtexto {
    /* outline: 2px solid red; */
    margin: auto;
}


/* ========= end biografia */




/* ====CONTACTO===== */
#formulario textarea{
    display: block;
}
#nomemail input {
    margin: 0 20px 20px 20px;
    
}
#mensajelabel {
    margin-bottom: 20px;
    
}

#maincontacto {
    margin-top: 30px;
    
}
.conjuntonav {
    display: block;
    width: 100%;
}

.sublist {
    margin-left: 15px;
    list-style-type: circle;
    font-size: 15pt;
}
.entrada {
    color: black;
    padding: 20px;
}
.formulario {
    color: white;
    text-align: center;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px;
    background-color: #6D9886;
    font-size: 20pt;
    justify-content: center;
    align-items: center;
}

/* boton */
.btn{

    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 1rem;
    color: #fff;
    background-color: #6d9886;
    padding: 10px 30px;
    border: solid #ffffff 7px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 21px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    }
    
.btn:hover{
    
    transition : 500ms;
    padding: 10px 50px;
    transform : translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: solid 7px #0066cc;
    }

/* ========= end contacto */

#never{
    width: 100%;
}



/* =====================768============================================


*/
@media screen and (min-width: 768px) {
    

    #cabecera {
        position: sticky;
        top: 0;
        
    }
    #cabecera a {
        font-size: 30px;
        
    }

    .conjuntonav    {
        width: auto;
        display: inline-block;
    }
    /* Inicio */
    
   
    /* BIOGRAFIA */
    .monstruodespagueti {
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
    }
    .figurelateral {
        max-width: 50%;
    }
    .monstertext {
        max-width: 100%;
        font-size: 1.2rem;
    }
    #entradamonstruo {
        max-width: 50%;
        font-size: 1.2rem;
    }
    
    /* PORTFOLIO */
    #trabajos {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        align-items: stretch;
    }
    #trabajos article {
        width: calc(50% - 10px);
    }

    #convencion picture, img{
        width: 100%;
       }
    
}
/* =====================768============================================


*/
@media screen and (min-width: 900px) {
    main {
        max-width: 1920px;
        margin: auto;
        width: 80%;
    }
    .titulo{
        width: 80%;
        display: block;
        margin: 2% auto;
        max-width: 1920px;
    }
     
    /* PORTFOLIO */
    #trabajos article {
        width: calc(33% - 10px);
    }
}